.BOD_Posts{
     -fx-font-size:21px;
     -fx-line-spacing:-5px;
     -fx-font-weight:800;
     -fx-fill:#664329;
}

.BOD_Names{
     -fx-font-size:17px;
     -fx-line-spacing:-5px;
     -fx-font-weight:800;
     -fx-fill:#574327;
}

.UpdateButtons {
  -fx-font-family: 'Cambria';
  -fx-font-weight:700;
  -fx-background-color: linear-gradient(to top, hsba(24, 100%, 29%, 1), hsba(36, 57%, 52%, 1));
  -fx-text-fill: linear-gradient(to top, hsba(46, 71%, 100%, 1), hsba(38, 91%, 80%, 1));
  -fx-background-radius: 13px;
  -fx-font-size:16px;
}

.UpdateButtons:hover {
  -fx-background-color: linear-gradient(to top, hsba(46, 71%, 100%, 1), hsba(38, 91%, 80%, 1));
  -fx-text-fill: linear-gradient(to top, hsba(24, 100%, 29%, 1), hsba(36, 57%, 52%, 1));
  -fx-font-weight:700;
  -fx-font-size:15px;
}

.ClassroomScreen,.Scrollpane{
    -fx-background-color: linear-gradient(to top, hsba(46, 71%, 100%, 1), hsba(38, 91%, 80%, 1));
}
.ClassroomScreen,.ClassroomScreenItemTitle,.ClassroomScreenEnrolledButton{
    -fx-font-family:'Cambria';
}
.ClassroomScreenItem{
-fx-background-color: #c8b99d;
    -fx-background-radius:12px;
}
.ClassroomScreenItemTitle{
    -fx-font-size:18px;
    -fx-line-spacing:-5px;
    -fx-font-weight:800;
    -fx-fill:#FFFFFF;
}
.ClassroomScreenItemCourseCode,.ClassroomScreenItemCourseTeacher{
     -fx-font-size:14px;
     -fx-line-spacing:-5px;
     -fx-font-weight:800;
     -fx-fill:#9795B8;
}
.ClassroomScreenItemCourseCode{
     -fx-fill:#050505;
}
.ClassroomButtonText{
     -fx-font-family:'Cambria';
     -fx-font-size:14px;
      -fx-line-spacing:-5px;
      -fx-font-weight:400;
      -fx-fill:#FFFFFF;
}
.ClassroomScreenTeacherImageBackground1{
    -fx-background-radius: 5px;
    -fx-background-color:	#FFFAF0;
}
.ClassroomScreenTeacherImageBackground2{
    -fx-background-radius: 5px;
    -fx-background-color:	#F5F5DC;
}
.ClassroomScreenEnrolledButton,.ClassroomScreenEnrolledButtonSecondary{
    -fx-background-color:#05B958;
    -fx-background-radius:76px;
    -fx-cursor:hand;
}
.ClassroomScreenEnrolledButtonSecondary{
    -fx-background-color:#E02A2A;
}
.scroll-pane > .corner {
    -fx-background-color: linear-gradient(to top, hsba(46, 71%, 100%, 1), hsba(38, 91%, 80%, 1));
}
.scroll-pane {
     -fx-background-color: linear-gradient(to top, hsba(46, 71%, 100%, 1), hsba(38, 91%, 80%, 1));
    -fx-padding-right: 20px;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:linear-gradient(to top, hsba(24, 100%, 29%, 1), hsba(36, 57%, 52%, 1));
    -fx-background-width: 5em;
    -fx-background-radius: 5em;
}
.classroomCover{
    -fx-font-family: 'Cambria';
      -fx-background-color: linear-gradient(to top, hsba(24, 100%, 29%, 1), hsba(36, 57%, 52%, 1));
      -fx-text-fill: white;
      -fx-background-radius: 13px;
}